<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h3>BUSCAR TIENDA</h3>
        </div>
        <div class="col-sm-3">
            <h3>AYUDA</h3>
            <p>Envíos y entregas</p>
            <p>Devoluciones</p>
            <p>Cambios</p>
            <p>Autogestionar mi devolución</p>
            <p>Opciones de pago</p>
            <p>Contactate</p>
            <h5>Botón de Arrepentimiento</h5>
        </div>
        <div class="col-sm-3">
            <h3>/h2>ACERCA DE NIKE</h3>
            <p>Noticias</p>
            <p>Inversionistas</p>
            <p>Sustentabilidad</p>
        </div>
    </div>
</div>